<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-toggle ng-repeat="switch in switches" ng-model="switch.state" ng-change="updateSwitch(switch)" class="item-dark" toggle-class="toggle-calm">
        <a ng-click="editSwitch(switch)" on-double-tap="editSwitch(switch)" style="width: 100%; display: block;" class="enable-pointer-events">
          <h2 class="light">{{switch.name}}</h2>
          <p>Nine Inch Nails</p>
        </a>
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
